.page-header
  %h1
    = controller.action_name == 'index' ? 'DDD Board Prototype' : controller.action_name.capitalize + ' Board'
    %small <code>分析モデル</code>と<code>実装モデル</code>を一致させるためのスペースです。

.row
  .col-xs-12
    %h3.title-bar 分析モデル
    %p 手動で実装モデルを作図します。
    %p 実装モデルと視覚的に比較できるようになります。ドメインエキスパートが主導で操作する場所になります。
    %table.table.table-bordered.analysis-model
      %tbody
        - Settings[:tr_alphabet].each.with_index(1) do |tr_symbol, index|
          %tr
            - td_times(tr_symbol).times do |td_number|
              %td{ rowspan: return_two_span(tr_symbol + td_number.to_s), class: Pictgram.present_by_td_number?(tr_symbol + td_number.to_s) ? 'active' : ''  }
                .content
                  = show_pictgrams(tr_symbol + td_number.to_s)
                #new-selects.modal.fade{ tabindex: '-1', role: 'dialog', 'aria-hidden': 'true' }
                #pictgram-show-page.modal.fade{ tabindex: '-1', role: 'dialog', 'aria-hidden': 'true' }

.row
  .col-xs-12
    %h3.title-bar 実装モデル
    %p アプリケーションファイルを読み込んで自動で実装モデルを作図します。
    %p 分析モデルと比較して何が違うかを視覚的に判断できるようになります。
    %object{ data: "/erd.pdf", type: "application/pdf", width: '100%', height: '700' }

.row
  .col-xs-12
    %h3.title-bar 実装モデル 概要
    %table.table.table-bordered
      %thead
        %tr.active
          %th{ scope: 'col' } No.
          %th{ scope: 'col' } Physical Name
          %th{ scope: 'col' } Logical Name
          %th{ scope: 'col' } Note
      - @domains.each.with_index do |domain, index|
        %tbody
          %tr
            %td= domain.id
            %td= domain.physical_name
            %td= domain.logical_name
            %td= domain.note

.row
  - @domains.each do |domain|
    .col-xs-6
      .panel.panel-default
        .panel-heading
          = domain.logical_name
          .pull-right
            = link_to edit_domain_path(domain.id) do
              %span.glyphicon.glyphicon-list-alt
        .panel-body
          %small= domain.note
          %ul.list-group
            %li.list-group-item= domain.id
            %li.list-group-item= domain.physical_name
            %li.list-group-item
              - domain.logical_name.constantize.reflect_on_all_associations(:belongs_to).each do |belongs_to_model|
                = belongs_to_model.plural_name
            %li.list-group-item
              - domain.logical_name.constantize.reflect_on_all_associations(:has_many).each do |has_many_model|
                = has_many_model.plural_name
            %li.list-group-item
              - domain.logical_name.constantize.reflect_on_all_associations(:has_one).each do |has_one_model|
                = has_one_model.plural_name
