%a{ href: '#menu-toggle', class: 'btn btn-primary', id: 'menu-toggle' } Toggle Menu

.page-header
  .btn-toolbar.pull-right
    .btn-group
      = link_to new_report_path, class: 'btn btn-default' do
        %span.glyphicon.glyphicon-list-alt New
  %h2= title controller.controller_name

.row
  - @reports.each do |report|
    .col-xs-12
      .panel.panel-default
        .panel-heading= report.title
        .panel-body
          .col-xs-12= report.opened_on
          .col-xs-12= qiita_markdown(report.content)
          - report.report_images.each do |report_image|
            .col-xs-12
              .thumbnail
                = image_tag report_image.image.url
