!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }/
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %title DddBoardPrototype
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.js'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.10/vue.js'
    = analytics_init if Rails.env.production?
  %body
    .wrapper
      -# Sidebar
      %nav#sidebar
        .sidebar-header
          %h3 DDD Board Prototype
        %ul.list-unstyled.components
          %li
            = link_to 'Dashboard', root_path
          %li
            = link_to 'Architectures', dashboards_architectures_path
          %li
            = link_to "Models　#{Domain.count}", dashboards_models_path
          %li
            = link_to "Ubiquitous Terms　#{UbiquitousTerm.count}", ubiquitous_terms_path
          %li
            = link_to "Issues", dashboards_issues_path
          %li
            = link_to "Meetings #{Meeting.count}", dashboards_meetings_path
          %li
            = link_to "Document　#{Document.count}", dashboards_documents_path

      -# Page Content
      #content
        %nav.navbar.navbar-default
          .container-fluid
            .navbar-header
              %button{ type: 'button', id: 'sidebarCollapse', class: 'navbar-btn' }
                %span
                %span
                %span
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              %ul.nav.navbar-nav.navbar-right
                %li
                  = link_to 'Refresh Model', domains_path, method: :post

        - !content_for?(:flash) && flash && flash.each do |key, message|
          .alert{ class: "alert-#{key}", role: 'alert' }
            %strong= message
        = yield
